


.email-main {
    margin-top: 30px;
    display:flex;
    flex-direction: column;
    gap: 10px;

    
}

.email-core {
    margin-top: 10px;
    display: flex;
    flex-direction: row;

    
}

.email-priview {
    display: flex; 
    gap: 3%;
    padding-left: 10px;
    flex-grow: 1;
    min-width: 380px;
    width: 100%;
    border-radius: 5px;
}

.email-list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100vw;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3); 
  border-radius: 5px;


}

.email-filter {
    
    display: flex;
    align-items: center;
    
}

.email-filter-form {
    display: flex;
    gap: 10px;
    padding-top: 8px;
    padding-left: 14px;
}

.email-priview:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3); 
    cursor: pointer;
}

.email-side-bar {
    min-width: 200px;
    background-color: rgb(225, 164, 164);
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 18px;
    margin-left: 10px;
    padding: 10px;
    border-radius: 10px;
}


.email-menue-option {
    height: 25px;
    font-size: 18px;
    margin-left: 10px;  
}

.email-menue-compose {
    height: 25px;
    font-size: 20px;
    margin-left: 10px; 
}

.email-not-star {
    opacity: 25%;
}
.email-not-read {
    font-weight: 950;
}

.email-link {
    text-decoration: none;
    color: #000;
}

.side-bar-link {
    text-decoration: none;
    color: #000;
}

.unread-button {
    position:fixed;
    right: 20px;
    margin-top: 15px;

    width: 40px;
    height: 30px;

}

.email-menue-option {
    box-shadow: 0 0 10px 0 rgba(181, 65, 170, 0.3); 
    border-radius: 20px;
    padding: 8px;
    padding-left: 12px;
    display: flex;
    
}

.email-menue-option:hover {
    box-shadow: 0 0 10px 0 rgba(86, 41, 81, 0.35); 
}

.email-menue-compose {
    box-shadow: 0 0 10px 0 rgba(181, 65, 170, 0.3); 
    border-radius: 20px;
    padding: 10px;
    padding-left: 12px;
    display: flex;
}

.email-menue-compose:hover {
    box-shadow: 0 0 18px 0 rgba(146, 8, 8, 0.459); 
}

.compose-link {
    text-decoration: none;
    color: #000;
}

.compose-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 10px;
    margin: 5px;
}

.compose-txt-input {
    width: 350px;
    height: 220px;
}

.compose-send-button {
    width: 50px;
}

.compose-buttons {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: #000;
}


