body {
    font-family: Arial;
  }


.email-main {
    margin-top: 30px;
    display:flex;
    flex-direction: column;
    gap: 10px;

    
}

.email-core {
    margin-top: 10px;
    display: flex;
    flex-direction: row;

    
}

.email-priview {
    display: flex; 
    gap: 3%;
    padding-left: 10px;
    flex-grow: 1;
    min-width: 380px;
    width: 100%;
   
    border-radius: 5px;
}

.email-list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100vw;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3); 
  border-radius: 5px;


}

.email-filter {
    
    display: flex;
    align-items: center;
    
}

.email-filter-form {
    display: flex;
    gap: 10px;
    padding-top: 8px;
    padding-left: 14px;
}

.email-priview:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3); 
    cursor: pointer;
}

.email-side-bar {
    min-width: 200px;
    background-color: rgb(225, 164, 164);
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 18px;
    margin-left: 10px;
    padding: 10px;
    border-radius: 10px;
}


.email-menue-option {
    height: 25px;
    font-size: 18px;
    margin-left: 10px; 
    display: flex;
    align-items: center; 
}

.email-menue-option:focus {
    background-color: rgba(255, 228, 196, 0.472);
}

.email-menue-compose {
    height: 25px;
    font-size: 20px;
    margin-left: 10px; 
    display: flex;
    align-items: center;
}

.email-not-star {
    opacity: 25%;
}
.email-not-read {
    font-weight: 950;
}

.email-link {
    text-decoration: none;
    color: #000;
}

.side-bar-link {
    text-decoration: none;
    color: #000;
}

.unread-button {
    position:fixed;
    right: 20px;
    margin-top: 15px;

    width: 40px;
    height: 30px;

}
.delete-button {
    position:fixed;
    right: 20px;
    margin-top: 15px;

   
    height: 30px;

}

.email-menue-option {
    margin-right: 7px;
    box-shadow: 0 0 10px 0 rgba(181, 65, 170, 0.3); 
    border-radius: 20px;
    padding: 8px;
    padding-left: 12px;
    display: flex;
    
}

.labels-section {
    display: flex;
    gap: 10px;
}

.label-work {
    height: 25px;
    width: 60px;
    background-color: rgb(0, 89, 255);
    color: azure;
    display: flex;
    align-items: center; 
    justify-content: center;
    border-radius: 20px;
}

.label-fun {
    height: 25px;
    width: 60px;
    background-color: rgb(21, 242, 131);
    color: azure;
    display: flex;
    align-items: center; 
    justify-content: center;
    border-radius: 20px;
}

.label-critical {
    height: 25px;
    width: 60px;
    background-color: rgb(243, 39, 46);
    color: azure;
    display: flex;
    align-items: center; 
    justify-content: center;
    border-radius: 20px;
}

.label-bills {
    height: 25px;
    width: 60px;
    background-color: rgb(198, 192, 17);
    color: azure;
    display: flex;
    align-items: center; 
    justify-content: center;
    border-radius: 20px;
}

.label-memes {
    height: 25px;
    width: 60px;
    background-color: rgb(24, 24, 20);
    color: azure;
    display: flex;
    align-items: center; 
    justify-content: center;
    border-radius: 20px;
}

.label-active {
    box-shadow: 0 3px  0 1px rgb(222, 21, 216);
    color: rgb(208, 228, 143); 
}

.sent-modal {

    position: fixed;
    right: 20px;
    bottom:380px;
    background-color: rgb(224, 193, 67);
    width: 96px;
    height: 20px;
    padding: 4px;
    border-radius: 3px;
}

.sent-to-emails-modal {
    position: fixed;
    right: 20px;
    bottom:300px;
    background-color: rgb(224, 193, 67);
    width: 102px;
    height: 20px;
    padding: 4px;
    border-radius: 3px;
}





 @keyframes email-menue-option {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }

  
 @keyframes email-menue-compose {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.3);
    }
  }
  

.email-menue-option:hover {
    box-shadow: 0 0 10px 0 rgba(86, 41, 81, 0.35); 
    background-color: rgba(224, 235, 101, 0.109);
    animation: email-menue-option 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.email-menue-compose {
    margin-right: 7px;
    box-shadow: 0 0 10px 0 rgba(181, 65, 170, 0.3); 
    border-radius: 20px;
    padding: 10px;
    padding-left: 12px;
    display: flex;
}

.email-menue-compose:hover {
    box-shadow: 0 0 18px 0 rgba(146, 8, 8, 0.459); 
    background-color: rgba(227, 246, 17, 0.201);
    animation: email-menue-option 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.compose-link {
    text-decoration: none;
    color: #000;
}

.compose-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 15px;
    margin: 5px;
}

.compose-txt-input {
    width: 350px;
    height: 190px;
}

.compose-send-button {
    width: 50px;
}

.compose-buttons {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: #000;
}

.miss-email-filter-header {
    box-shadow: 0 0 18px 0 rgba(80, 29, 75, 0.382);
    width: 200px;
    height: 25px;
    background-color: rgb(225, 164, 164);
    border-radius: 10px;
    display: flex;
    color: rgb(46, 80, 82);
    justify-content: center;
    font-weight: 600;
    margin-left: 5px;
    
}

.email-detail {
    margin-left: 12px;
}

.unread-div {
   font-weight: 700;
   margin-top: 4px;
}

.detail-buttons {
    display: flex;
    gap: 8px;
    margin-left: 12px;

}

@media (max-width: 770px) {
    .unread-button {
        display: none;
    }
}


@media (max-width: 650px) {

    .email-filter-form {
        flex-direction: column;
        width: 250px;
        align-items: center;
        justify-content: center;
        margin-left: 100px;
        gap: 20px;
    }

   

}


