.note-card {
    border: 1px lightgrey solid;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    box-sizing: content-box;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;

}

.note-card:hover{
    border: 1px black solid;

}

.note-card img {
    width: 100%;

}

.notes-container {
    /* grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) ); */


    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 20px;



}

.cardi{
    cursor: pointer;
}

.notes-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0.5px grey solid;
    padding: 5px;
    border-radius: 5px;

}

.notes-form:hover {
    border: 2px grey solid;



}

.right{
    margin-left: 0;
    right: 0;
}

.shown-card {
    position: fixed;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    min-height: 20%;
    border-radius: 9px;
    z-index: 10;
    border: 1px black solid;
    border-style: inset;
    padding: 20px
}


.pick-col {
    cursor: pointer;
    border-radius: 50%;
    border: 1px black solid;
}

.main-note-card {
    height: 90%;
}

.footer-note-card {
    padding: 5px;
    padding-bottom: 0;
    box-sizing: border-box;
    /* margin-bottom: 2%; */
    width: 100%;
    display: block;
    opacity: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;




}

.footer-note-card:hover {
    opacity: 100;
}

input[type='color'] {
    padding: 0;
    width: 150%;
    height: 150%;
    margin: -25%;
    visibility: hidden;
}

/* .cp_wrapper {
    overflow: hidden;
    width: 2em;
    height: 2em;
     border-radius: 50%;
    box-shadow: 1px 1px 3px 0px grey;
    margin: 1em;
    border: 1px black solid;
  }  */

.color-pic-con {
    width: 20px;
    height: 20px;
    border: 0.5px solid rgb(54, 52, 52);
    cursor: pointer;
    border-radius: 50%;

    display: block;
    margin: 0 5px;

}

.obldopacity {
    opacity: 1;
}

.delete-note {
    cursor: pointer;
}

.colors-container {
    display: flex;
    opacity: 0.2;

}

.colors-container:hover {
    opacity: 1;
}

.add-note {
    cursor: pointer;
}

.type-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.add-note-container {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
    /* justify-content: space-between; */
    /* border: 1px black solid; */
}


.btn-type {
    margin: 0 auto;
    cursor: pointer;



}

.input-container {
    border: 1px black solid;
    display: flex;
    justify-content: center;
    width: 50%;
}

.t-inpt {
    width: 80%;
    border: 0;
    padding: 5px;
}

.container-filter{
    width: 80%;
    margin: 0 auto;
    display: block;
    text-align: center;
}

.title-inpt{
    font-size: 24px ;
}

.inpt-aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

input{
    border: 0;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 2px;
}

.notes-filter{
    width: 80%;
    margin: 0 auto;
    margin: 20px;
    border: 1px lightgrey solid;
    font-size: 30px;
    border-radius: 5px
}

.new-todo2{
    display: flex;
    justify-content: space-between;
}

.notes-filter:hover{
    border: 1px grey solid;
    font-weight: 100;


}

.new-todo-line{
    width: 60%;
}

.todo-line-in-card{
    display: flex;
    justify-content: space-between;

}